.add-product input,
textarea {
  font-size: 20px;
  padding: 5px 15px;
  border-radius: 10px;
  border: 1px solid lightgray;
  width: 40vw;
  margin: 5px auto;
  height: 7vh;
  display: block;
}
textarea {
  height: 100px;
  margin: 0;
  display: inline;
}

@media only screen and (max-width: 991px) {
  .add-product input,
  textarea {
    width: 70vw;
    height: 6vh;
  }
  textarea {
    height: 100px;
  }
}

@media only screen and (max-width: 767px) {
  .add-product input,
  textarea {
    width: 90vw;
  }
}
