@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Water+Brush&display=swap");

.product {
  background-color: rgb(241, 241, 241);
}

.boldPoppins {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.poppins {
  font-family: "Poppins", sans-serif;
}
