.banner img {
  height: 70vh;
  object-fit: fill;
}

@media only screen and (max-width: 567px) {
  .banner img {
    height: 40vh;
  }
}
@media only screen and (min-width: 568px) and (max-width: 991px) {
  .banner img {
    height: 35vh;
  }
}
